.userList {
  scrollbar-width: none;

  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-content: flex-start;

  max-width: 1400px;
  height: 88vh;
}

@media (width < 768px) {
  .userList {
    justify-content: center;
  }
}
