.profileCard {
  cursor: pointer;

  position: relative;

  width: 332px;
  height: 196px;
  padding: 20px;

  &:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }
}

.activeCard {
  background: #1E2027;
  border: 1px solid #ff2c4733;
}

.profileImageContainer {
  display: flex;
}

.profileImage {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.active {
  color: var(--color-red);
}

.email {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.profileInfo {
}

.infoCell {
  display: flex;
}

.left {
  margin-right: 16px;

  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #8c8988;
}

.right {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.infoCell {
  margin-top: 12px;
}

.trash {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border: 1px solid #ff2c4733;
  border-radius: 0 16px;
}

.icon {
  color: var(--color-red);
}

@media (width < 768px) {
  .profileCard {
    width: 320px;
  }
}
